@using postGres.Models
@model List<first>
@{
    ViewData["Title"] = "Home Page";
}
@Model.FirstOrDefault().name
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
